/*-- navigation --*/
.top-nav {
    position: sticky;
    z-index: 9;
    width: 100%;
    padding: 0.5em 0;
    background: rgb(0,0,0,0.9);
}
.scroll{
    transition: all 0.5s !important;
}

.navbar-nav{
    font-family: 'Times New Roman', serif;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color:#ffae11;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 17px;
    margin: 0 .2em;
    padding: 10px 12px;
    border: 1px solid transparent;
	font-family: 'Times New Roman', serif;
    font-weight: 500;
}

ul.dropdown-menu a {
    color: #333;
    font-size: 17px;
    padding: 2px 12px;
    display: block;
    border: 1px solid transparent;
}
.navbar-light .navbar-brand,.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 5px 20px;
    position: relative;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    line-height:1.1em !important;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #fff;
}
.navbar-light .navbar-brand span {
    display: block;
    font-size: 13px;
    text-align: center;
    position: absolute;
    left: 0%;
    width: 100%;
    bottom: -50%;
}

.navbar-img{

    height: 80px; width: 80px;
    border:2px solid #fff;
}

@media(max-width:991px) {

    .navbar-toggler {
        background-color: #fff;
    }

    div#navbarSupportedContent {
        background: #0000008f;
    }
    .features ul.nav.nav-tabs {
        left: 5%;
        top: 12%;
    }

    .features ul.nav.nav-tabs {
        left: 5%;
        top: 12%;
    }
}

@media(max-width:800px){

    .features ul.nav.nav-tabs {
        right: 0%;
        top: 8%;
    }

}

@media(max-width:768px){

    .callbacks_nav.prev {
    background: transparent url(../images/left11.png) no-repeat;
    left: 2%;
    }
    .callbacks_nav.next {
        background: transparent url(../images/right11.png) no-repeat;
        left: 94%;
    }

    .features ul.nav.nav-tabs li a {
    margin-right: 1em;
    }
    .footer-nav li {
        margin: 0px 0.5em;
    }
}

@media(max-width:568px){

    .callbacks_nav.next {
    background: transparent url(../images/right11.png) no-repeat;
    left: 92%;
   }
   .features ul.nav.nav-tabs {
    left: 2%;
    }
}

@media(max-width:480px){

    .callbacks_nav.prev {
        left: 0%;
       }

    .navbar-light .navbar-brand, .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    font-size: 15px;
    padding: 5px 7px;
    }
    .navbar-toggler {
    font-size: 1rem;
    }
    .top-nav{
    padding:0px;;
    }

   .navbar-img{
    height: 35px; width: 35px;
    margin-left: -10px;
    }

}

@media(max-width:414px){

}

@media(max-width:384px){
    .navbar-light .navbar-brand, .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    font-size: 14px;
    padding: 5px 0px;
   }
}

@media(max-width:375px){
    .navbar-light .navbar-brand, .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    font-size: 14px;
    padding: 5px 0px;
   }
}

@media(max-width:320px){

    .navbar-light .navbar-brand, .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    font-size: 12px;
    padding: 5px 0px;
    }
    .navbar-toggler {
    font-size: 0.8rem;
     }
     .navbar-toggler {
    font-size: 1rem;
    }
     .callbacks_nav.next {
    left: 90%;
      }
    .navbar-light .navbar-brand, .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    font-size: 20px;
    }
    .navbar-light .navbar-brand, .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    font-size: 30px;
    letter-spacing: 0px;
   }
   .navbar-light .navbar-brand, .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    font-size: 18px;
    }

}


/*-- //navigation --*/

/* footer */
.contact{
color:#fff;
}

.success-copyright p{
    color: #ccc;
    letter-spacing: 1px;
    font-size: 15px;
    cursor: context-menu;
}

.success-copyright p:hover{
    color: #fff;

}

.path-footer.path-footer-section {
    background: #131313;
}

#contact h3{
	color: #fff;
	text-align: center;
	font-family:'Times New Roman', serif;
}

/*-- //footer */
