
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GCHS</title>
	<link rel = "icon" href ="{{url_for('static', filename='images/school/logo1.png')}}" type = "image/x-icon">
	{% include 'bootstrap.html' %}
	<!-- css files -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" type="text/css"> <!-- Style-CSS -->
	<!--//css files-->

	{% block assets %}
	{% endblock %}

</head>
<body style="height:100%;">

<!-- Navigation -->

	<div class="top-nav" style="transition: all 0.3s;" id="top-nav">

		<div class="container-fluid" id="container-fluid">
			<nav class="navbar navbar-expand-lg navbar-light">
				<img class="navbar-img" src="{{ url_for('static', filename='images/school/whitelogo.png') }}">
				<a class="navbar-brand text-uppercase" href="#">Garrison Children High<br>School, Pune</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-center pr-md-4" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
							<a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
						</li>
						<!--<li class="nav-item">
							<a class="nav-link scroll" href="#about">About</a>
						</li>
						-->
						{% if session.user_type == 'admin' %}
						<li class="nav-item">
							<a class="nav-link" href="/admin">Alumni</a>
						</li>
						{% else %}
						<li class="nav-item">
							<a class="nav-link" href="/list">Alumni</a>
						</li>
						{% endif %}
						<li class="nav-item">
							<a class="nav-link" href="/gallery">Gallery</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/home#updates">Updates</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/home#contact">Contact</a>
						</li>
                        <li class="nav-item">
						{% if session.username %}

						<li class="dropdown nav-item">
							<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
								{{ session.fname }}
							</a>
							<ul class="dropdown-menu">
								{% if session.user_type == 'admin' %}
								<li>
									<a href="/admin">Admin Panel</a>
								</li>
								{% endif %}
								{% if session.user_type != 'admin' %}
								<li>
									<a href="/profile/{{session.username}}">Profile</a>
								</li>
								{% endif %}
								<li>
									<a href="/logout">Logout</a>
								</li>
							</ul>
						</li>

						{% else %}
						<li class="nav-item">
							<a class="nav-link" href="/login">Login</a>
						</li>
                        {% endif %}
                        </li>


					</ul>
				</div>
			</nav>
		</div>

	</div>

<!-- //Navigation -->

    {% block content %}
    {% endblock %}

<!-- smooth scrolling -->
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
<!--navbar scroll hide-->
	<script type="text/javascript">
		var prevScrollpos = window.pageYOffset;
			window.onscroll = function() {
			var currentScrollPos = window.pageYOffset;
			  if (prevScrollpos > currentScrollPos || prevScrollpos==0) {
			    document.getElementById("top-nav").style.top = "0";
			  } else {
			    document.getElementById("top-nav").style.top = "-150px";
			  }
			  prevScrollpos = currentScrollPos;
			}
	</script>

<!--//navbar scroll hide-->

</body>
</html>