<!-- footer -->
<section class="path-footer path-footer-section py-5 " id="contact">
		<div class="container">
			<h3 class="mb-5" style="color: #fff; text-align: center; font-family:'Times New Roman', serif;">CONTACT US</h3>
				 <div class="row">
				    <div class="col-sm-6">

						<div class="mapouter"><iframe width="330" height="200" id="gmap_canvas" src="https://maps.google.com/maps?q=garrison%20children%20high%20school&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>

					</div>
					<div class="col-sm-6 contact">
						<br>
						<p><i class="fa fa-home" style="color: #fff;"></i> Garrison Children High School, Near Khadki Business Center, Khadki, Pune 411003</p><br>
						<p><i class="fa fa-phone" style="color: #fff;"></i> +91 9888855331</p><br>
						<p><i class="fa fa-envelope" style="color: #fff;"></i> contact.gchspune@gmail.com</p>
					</div>
				</div>
			<div class="success-copyright text-center">
				<p class="mt-5">Garrison Children High School, Khadki, Pune-411003</p>
			</div>
		</div>
	</section>
<!-- //footer -->
